<h1>
    <a href="//<%= @post.url %>"><%= @post.title %></a>
    by <%= @post.user.username %>
</h1>

<label>Content: 
    <p><%= @post.content %></p>
</label>

<a href="<%= edit_post_url(@post) %>">Edit Post!</a>

